body {
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
background-color: #fff;
color: #757575;
}



ul {
    list-style: none;
}
/* logo*/
.Web{
    color: #2196F3;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.Studio{
    color: #000000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

/* nav */
.site-nav .link {
    color: #212121;
}


.site-nav .link:hover,
.site-nav .link:focus{
    color: #2196F3;
}

.auth-nav .link{
    color: #757575;
}

.auth-nav .link:hover,
.auth-nav .link:focus{
    color: #2196F3;
}

.hero {
    background-color:#2F303A;
}
.hero-title{
    color: #fff;
}

.hero-button {
    color: #fff;
    background-color: #2196F3;
    font-style: normal;
    font-weight: 700;
    font-size: 16;
    line-height: 2;
    cursor: pointer;
}

.particular-title {
    color: #212121;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.project-title {
    color: #212121;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.team {
    background-color: #F5F4FA;
}

.team-titel {
    color: #212121;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.name {
    color: #212121; 
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

/* footer */
.page-footer {
    background-color: #2F303A;
}

.street {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.address-page {
    color: #757575;
}

.address-page .link:hover
.address-page .link:focus {
    color: #2196F3;
}

