body {
font-family: 'Roboto', sans-serif;
background-color: #fff;
color: #757575;
}

:root {
    --brand-color: #212121;
    --bluebrand-clor: #2196f3;
    --discription-color: #757575; 
}

ul {
    list-style: none;
}
/* logo*/
.Web {
    color: var(--bluebrand-clor);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.Studio {
    color: var();
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

/* nav */
.site-nav .link {
    color: var(--brand-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}


.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--bluebrand-clor);
}

.auth-nav .link {
    color: var(--discription-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--bluebrand-clor);
}

.hero {
    background-color:#2F303A;
}
.hero-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

.hero-button {
    color: #FFFFFF;
    background-color: var(--bluebrand-clor);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
}

.particular-title {
    color: var(--brand-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.work-title {
    color: var(--brand-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.team {
    background-color: #F5F4FA;

}

.team-titel {
    color: var(--brand-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.name {
    color: var(--brand-color); 
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

/* footer */
.page-footer {
    background-color: #2F303A;
}

.street {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.address-page .link {
    color: var(--discription-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.address-page .link:hover,
.address-page .link:focus {
    color: var(--bluebrand-clor);
}

.main-button {
    color:var(--brand-color) ;
    background-color: #F5F4FA;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.main-button:hover,
.main-button:focus {
    color: #fff;
    background-color: var(--bluebrand-clor);
}

.project-titel{
    color: var(--brand-color);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}